.subjectHeader {
	color: blue;
}

h3 {
	font-weight: bold;
}

table, th, td {
  border: 1px solid;
  text-align: center;
}

ul {
	list-style-type: square;
}

.hyperLink:hover {
	background-color: yellow;
	text-decoration: none;
}